<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <% if (!includeSass) { if (includeBootstrap) { %><link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" /><% }} %>
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- 1. Display the application -->
    <div class="container">
      <my-app>loading...</my-app>
    </div>
    
    <!-- 2. Load libraries -->
    <!-- build:js(.) scripts/vendor.js -->
    <script src="node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="node_modules/rxjs/bundles/Rx.js"></script>
    <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="node_modules/angular2/bundles/router.js"></script>
    <script src="node_modules/angular2/bundles/http.js"></script>
    <!-- endbuild -->

    <!-- build:js(.) scripts/plugins.js -->
    <% if (includeBootstrap) { %><script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script><% } %>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- 3. Load our 'modules' -->
    <script>
      System.config({
        packages: {        
          scripts: {
            format: 'register',
            defaultExtension: 'js'
          },       
          components: {
            format: 'register',
            defaultExtension: 'js'
          },       
          service: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('scripts/main')
        .then(null, console.error.bind(console));
    </script>
  </body>
</html>
